@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for better mobile feel if needed */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 3px;
}